.edit {
    width: 30%;
    box-shadow: 1px 0 5px 1px #e5e5e5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.edit-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

.edit-paths {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-path-units {
    overflow: hidden;
    height: 27px;
    position: absolute;
    left: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: center;
}

.show-units {
    height: 100%;
    overflow: visible;
}

.edit-path-unit {
    line-height: 27px;
    padding: 0 3px;
    cursor: pointer;
    border-right: 1px solid #222;
}

.edit-path-unit:nth-child(n+2) {
    border-left: 1px solid #222;
    
}

.edit-path-unit:nth-child(2) {
    border-top-left-radius: 10px;
}

.edit-path-unit:last-child {
    border-bottom-left-radius: 10px;
    border-bottom: 1px solid #222;
}

input.edit-path {
    padding-left: 83px;
    text-align: left;
}