.preview {
    margin: 20px;
    border: 1px solid #222;
}

.hovered {
    stroke: #1578cd;
    stroke-linecap: round;
    opacity: .3;
}

.tooltip {
    padding: 20px;
    border: 1px solid #222;
    height: 40px;
}