.App,
#root,
body,
html {
  height: 100%;
}

.App {
  display: flex;
}

label {
  margin-bottom: 5px;
}

button {
  background: #29b6f6;
  padding: 10px 20px;
  border: none;
  box-shadow: 1px 1px 1px #eee;
  border-radius: 2px;
  cursor: pointer;
}

input[type="text"] {
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #222;
}

input[type="color"] {
  padding: 0;
  border: none;
  background: transparent;
}


/* The slider itself */
input[type="range"] {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
input[type="range"]:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 5px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #29b6f6; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

input[type="range"]::-moz-range-thumb {
  width: 5px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #29b6f6; /* Green background */
  cursor: pointer; /* Cursor on hover */
}